<mat-dialog-content>
  <div class="timer-header" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field class="time-item" fxFlex="80px" *ngFor="let inputItem of inputValues">
      <input matInput readonly placeholder="{{inputItem.name}}" 
        [ngClass]="{'is-active': inputItem.active}"
        (click)="toggleActiveInput()"
        [ngModel]="inputItem.value" name="selected {{inputItem.name}}">
    </mat-form-field> 
    <mat-form-field class="time-item" fxFlex="100px">
      <input matInput readonly placeholder="Clock period" [(ngModel)]="timeMode" name="Clock period">
    </mat-form-field>
  </div>
  <div class="timer-body">
    <div class="numb-row" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-fab class="numb-btn" (click)="enterValue(1)">1</button>
      <button mat-fab class="numb-btn" (click)="enterValue(2)">2</button>
      <button mat-fab class="numb-btn" (click)="enterValue(3)">3</button>
    </div>
    <div class="numb-row" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-fab class="numb-btn" (click)="enterValue(4)">4</button>
      <button mat-fab class="numb-btn" (click)="enterValue(5)">5</button>
      <button mat-fab class="numb-btn" (click)="enterValue(6)">6</button>
    </div>
    <div class="numb-row" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-fab class="numb-btn" (click)="enterValue(7)">7</button>
      <button mat-fab class="numb-btn" (click)="enterValue(8)">8</button>
      <button mat-fab class="numb-btn" (click)="enterValue(9)">9</button>
    </div>
    <div class="numb-row" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-fab color="primary" (click)="changeTimeMode('AM')">AM</button>
      <button mat-fab class="numb-btn" (click)="enterValue(0)">0</button>
      <button mat-fab color="primary" (click)="changeTimeMode('PM')">PM</button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" (click)="reset()">cansel</button>
  <button mat-raised-button class="clear-btn" (click)="clear()">clear</button>
  <button mat-raised-button fxHide.lt-sm color="accent" (click)="save()">set time</button>
</mat-dialog-actions>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button fxHide.gt-xs fxFlex="100%" color="accent" (click)="save()">set time</button>
</mat-dialog-actions>