@import ~@angular/material/theming
@import ../../../media.sass

+mat-core()

.timer-header
    .time-item
        padding-right: 1rem
        &:last-child
            padding-right: 0
.numb-row
    padding: .5rem 0
.numb-btn
    background-color: mat-color($mat-blue-grey, 300)
    // background-color: mat-color($mat-green, 500) 
    font-size: 1.4rem
.timer-body
    margin-bottom: 1rem
    
.is-active
    font-weight: bold
    font-size: 1.4rem    
.mat-dialog-actions
    button
        +xs
            margin: 0 0 .5rem 0