<mat-toolbar color="primary">
  <span class="company_name">Austin Powder Company</span>
</mat-toolbar>
<mat-card class="intro-card">
  <h1>BLASTING INCIDENT NOTIFICATION</h1>
  <p>Blaster-in-charge is required to complete and send an incident notice within 10 minutes of knowing a flyrock or an unplanned detonation has occurred.</p>
  <p>This is for notice only. Investigations of incidents will be determined by Corporate Tech Services.</p>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/incident" color="accent" class="submit-btn">Report an incident</button>
  </div>
  <app-alert></app-alert>
</mat-card>