<mat-toolbar color="primary">
  <span class="company_name">Austin Powder Company</span>
</mat-toolbar>
<mat-card class="login-card">
  <h1>Login</h1>
  <p>Please log in to report an incident</p>
  <div name="login-form">
    <div class="login-row" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Austin login name" [(ngModel)]="userLogin" name="login" />
      </mat-form-field>
    </div>
    <div class="login-row" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Password" type="password" [(ngModel)]="userPass" name="Password" />
      </mat-form-field>
    </div>
    <div *ngIf="loginError" class="errors-box" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon color="accent">warning</mat-icon>
      <p>login or password incorrect</p>
    </div>
    <div class="login-row" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button (click)="login()" color="accent" class="submit-btn">Login</button>
    </div>
    <app-alert></app-alert>
  </div>
</mat-card>