@import ~@angular/material/theming
@import ../../media.sass

+mat-core   

.company_name
    font-size: 24px
    font-family: Oswald, Arial, Helvetica, sans-serif
    font-weight: 400

.login-card
    margin: 2rem auto
    max-width: 400px
    +xs
        margin: 2rem
.errors-box
    margin: 1rem 0
    padding: .5rem 1rem
    border: 1px solid red
    border-radius: 5px
    .mat-icon
        margin-right: .5rem
