@import ../../media.sass
@import ../../theme.sass

.top_toolbar
    background: white

.company_name
    font-size: 24px
    font-family: Oswald, Arial, Helvetica, sans-serif
    font-weight: 400

.notification-card
    margin: 2rem

.submit-btn
    margin: 2rem auto
    display: block

.notification-form-row
    label   
        margin-right: 1rem
        font-weight: bold
        &.radio-btn-label
            &.ng-invalid
                color: $austin-warn-color
    .mat-radio-button
        margin: 1rem
    .incident-date-field
        max-width: 315px
    .mat-input-container
        +gt-xs
            padding-right: 2rem
            &:last-child
                padding-right: 0
    .note-area-input
        