<mat-toolbar color="primary">
  <span class="company_name">Austin Powder Company</span>
</mat-toolbar>

<mat-card class="notification-card">
  <h1>INCIDENT REPORT</h1>
  <form class="notification-form" (ngSubmit)="onSubmit()" [formGroup]="notificationForm" novalidate>
    <div class="notification-form-row">
      <p>
        <label>Reported by:</label> {{user.firstName}} {{user.lastName}}</p>
    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
      <label class="radio-btn-label" [ngClass]="{
        'ng-invalid': notificationForm.controls.incidentType.invalid && formSubmited
      }">Incident type:</label>
      <mat-radio-group required formControlName="incidentType" name="incidentType">
        <mat-radio-button value="Fly rock">Fly rock</mat-radio-button>
        <mat-radio-button value="Misfire">Misfire</mat-radio-button>
        <!-- <mat-radio-button value="Unplanned detonation">Unplanned detonation</mat-radio-button> -->
        <mat-radio-button value="Product issue">Product issue</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutWrap>
      <mat-form-field fxFlex.xs="100%" class="incident-date-field">
        <input matInput required readonly (click)="incidentDate.open()" [matDatepicker]="incidentDate" formControlName="incidentDateValue"
          name="incidentDate" placeholder="Date of the incident">
        <mat-datepicker-toggle matSuffix [for]="incidentDate"></mat-datepicker-toggle>
        <mat-datepicker #incidentDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex.xs="100%" class="incident-date-field">
        <input matInput required readonly required (click)="openDialog()" formControlName="incidentTime" name="incidentTime" placeholder="Time of the incident">
        <mat-icon matSuffix>alarm</mat-icon>
      </mat-form-field>
    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutWrap>
      <mat-form-field fxFlex.xs="100%">
          <input matInput required placeholder="Blaster in charge" aria-label="Blasters" [matAutocomplete]="auto" formControlName="blasterName">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let blaster of filteredBlasters" [value]="blaster">
              {{ blaster.name }}
            </mat-option>
          </mat-autocomplete>
          <!-- <mat-error *ngIf="notificationForm.controls.blasterName.invalid">Please enter blaster name</mat-error> -->
        </mat-form-field>
      <mat-form-field fxFlex.xs="100%">
        <mat-select required placeholder="LLC" name="llc" formControlName="blasterLlc">
          <mat-option *ngFor="let llcItem of blasterLlcData" [value]="llcItem">
            {{ llcItem.name }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="notificationForm.controls.blasterLlc.invalid">Please enter blaster LLC</mat-error> -->
      </mat-form-field>
      <mat-form-field fxFlex.xs="100%">
        <mat-select required placeholder="Location" name="blasterLocationId" formControlName="blasterLocation">
          <mat-option *ngFor="let locationItem of blasterLocationData" [value]="locationItem">
            {{ locationItem.location }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="notificationForm.controls.blasterLocation.invalid">Please enter blaster location</mat-error> -->
      </mat-form-field>
    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutWrap>
      <mat-form-field fxFlex.xs="100%">
        <input matInput required placeholder="Customer Name" aria-label="Customers" [matAutocomplete]="autoCustomers" formControlName="customerName">
        <mat-autocomplete #autoCustomers="matAutocomplete">
          <mat-option *ngFor="let customer of filteredCustomers" [value]="customer" (click)="selectCustomer(customer)">
            {{ customer.name }}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-error *ngIf="notificationForm.controls.customerName.invalid">Please enter Customer Name</mat-error> -->
      </mat-form-field>
      <mat-form-field fxFlex.xs="100%">
        <mat-select required placeholder="Customer Location" name="customer location" formControlName="customerLocation">
          <mat-option *ngFor="let locationItem of customerLocationData" [value]="locationItem.location">
            {{ locationItem.location }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="notificationForm.controls.customerLocation.invalid">Please enter Customer Location</mat-error> -->
      </mat-form-field>

    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutWrap fxLayoutAlign="stert center">
      <label class="radio-btn-label"  [ngClass]="{
        'ng-invalid': notificationForm.controls.selectedInjurie.invalid && formSubmited
      }">Injuries: </label>
      <mat-radio-group required formControlName="selectedInjurie" name="selectedInjurieId">
        <mat-radio-button value="Yes">Yes</mat-radio-button>
        <mat-radio-button value="No">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutWrap fxLayoutAlign="stert center">
      <label class="radio-btn-label" [ngClass]="{
        'ng-invalid': notificationForm.controls.selectedDamage.invalid && formSubmited
      }">Equipment Damage:</label>
      <mat-radio-group required formControlName="selectedDamage" name="selectedDamage">
        <mat-radio-button value="Yes">Yes</mat-radio-button>
        <mat-radio-button value="No">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="notification-form-row" fxLayout="row" fxLayoutWrap fxLayoutAlign="stert center">
      <mat-form-field fxFlex.xs="100%">
        <textarea class="note-area-input" matInput placeholder="Note" matTextareaAutosize matAutosizeMinRows="2"
        matAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <p>
      <i>This will send this notice to Corporate Tech Services, Cleveland HQ and LLC Management</i>
    </p>
    <button mat-raised-button type="submit" color="accent" class="submit-btn">Submit</button>
  </form>
</mat-card>