<mat-toolbar color="primary">
  <span class="company_name">Austin Powder Company</span>
</mat-toolbar>
<mat-card class="success-card">
  <h1>BLASTING INCIDENT NOTIFICATION</h1>
  <p>The notification has been sent.</p>
  <p><i>This is for Notice Only. Investigations of Incidents will be determined by Corporate Tech Services.</i></p>
  <app-alert></app-alert>
</mat-card>