@import ~@angular/material/theming
@import ../../media.sass

+mat-core   

.company_name
    font-size: 24px
    font-family: Oswald, Arial, Helvetica, sans-serif
    font-weight: 400

.success-card
    margin: 2rem
