@import ../../theme.sass
@import ../../media.sass

.alert-box
    margin: 1rem 0
    padding: 0 1rem
    border: 1px solid red
    border-radius: 5px
    a
        text-decoration: none
        margin-left: 1rem
        color: $austin-primary-color
        &:hover
            text-decoration: underline 
.mat-icon
    margin-right: 1rem