<div class="alert-box">
  <p fxLayout="row" fxLayoutAlign=" start center">
    <mat-icon color="accent">warning</mat-icon>
    <span><b class="accent-txt">BLASTERS:</b> If a death or injury to an individual with potential to cause death, an entrapment, an unplanned ignition of
      explosives, an unstable condition causing evacuation or an unplanned fire, MSHA must be notified immediately, but no
      later than 15 minutes from the time of the incident.</span>
  </p>
  <p fxLayoutAlign="center  center" class="accent-txt">
    <b>Call:<a href="tel:+1-800-746-1553">1-800-746-1553</a></b>
  </p>
</div>