@import ~@angular/material/theming

+mat-core

.theme_body_bg
    background: rgb(224, 226, 229)
    padding: 0
    margin: 0

h1, h2, h3, h4, h5, .oswald-font
    font-family: Oswald, Arial, Helvetica, sans-serif

// helpers
.text-right
    text-align: right
.text-left
    text-align: left
.text-center
    text-align: center
.accent-txt
    color: #f44336
.small
    font-size: 1rem

$austin-primary-color: mat-color($mat-grey, 900)
$austin-warn-color: mat-color($mat-red, 700)

$austin-primary: mat-palette($mat-grey, 900)
$austin-accent: mat-palette($mat-red, 500)
$austin-warn: mat-palette($mat-red, 700)

$austin-theme: mat-light-theme($austin-primary, $austin-accent, $austin-warn)

+angular-material-theme($austin-theme)
